<%- include('partials/head')%>
<body>
    <h1>Welcome <%= user.name%></h1>
    <div>
        <img src="" alt="logo">
    </div>
    <div>
        <!-- This nav section is there the options are -->
        <nav>
            <div><title>Main Cage</title></div>
            <div><a href="/<%= user._id%>/logins">Logins</a></div>
            <div><a href="/<%= user._id%>/accounts">Accounts</a></div>
            <div><a href="/<%= user._id%>/notes">Notes</a></div>
            <div><a href="/<%= user._id%>/news">News</a></div>
            <div><a href="/<%= user._id%>/gen_passwd">Generate Password</a></div>
        </nav>
        <!-- This div renders the selected option above -->
        <div>

        </div>
        <!-- This div renders the final results of the selected option above -->
        <div>
            <!-- Container to hold the data, URL, Username and Password -->
            <div>

            </div>
            <div>
                <button>
                    <!-- button to copy to clipboard -->
                </button>
                <button>
                    <!-- button to open URL in another tab -->
                </button>
            </div>
        </div>
    </div>
    
    
    <!-- <% if (user) { %>
        <p>ALl good here</p>
        <a href="/logout">Log Out</a>
    <% } else { %>
        <a href="/auth/google">Login with Google</a>
    <% } %> -->
</body>
</html>